html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  transition: 0.4s all linear;
}

img {
  max-width: 100%;
}
header {
  background-image: url(Images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-img-details {
  background-image: url(Images/feature_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.signature-color {
  color: #5a4fdc !important;
}
.signature-background {
  background-color: #5a4fdc !important;
}
.banner-title {
  text-shadow: 2px 5px 7px #babaff;
}
.pricing-icon1 {
  font-size: 25px;
  border: 5px solid #5b4fdc15;
  padding: 25px;
  color: #5a4fdc;
  border-radius: 20% 20% 0% 20%;
  background-color: #5b4fdc1a;
}
.pricing-icon2 {
  font-size: 25px;
  border: 5px solid #e1e0f8;
  padding: 28px 25px;
  color: #fff;
  border-radius: 0% 20% 20% 20%;
  background-color: #5a4fdc;
}
.pricing-icon3 {
  font-size: 25px;
  border: 5px solid #e1e0f8;
  padding: 28px 25px;
  color: #fff;
  border-radius: 20% 20% 20% 20%;
  background: #5a4fdc;
  background: linear-gradient(
    0deg,
    rgba(90, 79, 220, 1) 50%,
    rgba(91, 79, 220, 0.102) 50%
  );
}
.blog {
  background-color: white;
}
.form-input {
  background-color: #f1f1f1;
  padding: 15px;
}
.send-msg {
  background: #5a4fdc;
  padding: 12px 30px;
  color: white;
  font-weight: bold;
}
footer {
  background-color: #292838;
}
/* Self customization (❛‿❛) */
.credit {
  text-align: center !important;
}
/* Code from stackoverflow */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.cc {
  color: #9e9eab;
}
